html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--page-bg);
  color: var(--default-color);
  font-family: var(--font-default);
  font-weight: 400;
  text-wrap: balance;
  font-size: var(--defaul-font-size);
  line-height: var(--defaul-line-height);
}

.body_wrapper {
  overflow: hidden;
}

a {
  color: var(--link-color);
}

.hidden {
  display: none !important;
}

.no-scroll {
  overflow: hidden;
}

.relative {
  position: relative;
}

.overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  display: none;
}

._img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

._link {
  text-decoration: underline;
  color: var(--primary);
  text-underline-offset: 3px;
}

._section {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

._section-middle {
  max-width: var(--container-middle);
  margin: var(--indent) auto 0;
  border-radius: 22px;
  padding-bottom: var(--indent);
}


.logo {
  display: block;
  max-width: 194px;
  width: 100%;

  @include md {
    max-width: 150px;
  }
}

.marker {
  width: 25px;
  height: 25px;
  background-color: var(--primary);
  border-radius: 50%;
  font-size: 0;
  line-height: 0;
}

.cursor {
  display: none;

  path {
    fill: var(--primary);
  }

  @include lg {
    display: flex;
    justify-content: center;
  }
}

._main-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  min-height: 90px;
  width: 100%;
  background-color: var(--primary);
  border-radius: 12px;
  font-family: var(--font-default);
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: var(--light-color);
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  box-shadow:
    inset 0px 15px 30px 0px rgba(255, 255, 255, 0.1),
    0px 15px 30px 0px rgba(226, 50, 65, 0.15);

  &:hover {
    box-shadow:
      0px 15px 30px 0px #ffffff1a inset,
      0px 15px 30px 0px #e2324140;
    background-color: var(--primary-hover);
  }

  &:active {
    background-color: var(--primary);
    box-shadow: none;
  }

  @include sm {
    font-size: 14px;
  }

  @include xs {
    width: 100% !important;
    min-height: 75px !important;
  }
}

._light-btn {
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  height: 55px;
  background-color: white;
  border-radius: 50px;
  border: 1px solid var(--primary);
  width: 100%;
  font-family: var(--font-default);
  font-weight: 700;
  font-size: 18px;
  line-height: calc(22/18*100%);
  color: var(--default-color);
  cursor: pointer;
  text-align: center;

  &:hover {
    background-color: var(--primary);
    color: white;
    transition: all .3s;
  }
}


.swiper-button-prev,
.swiper-button-next {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;


  &::after {
    display: none;
  }

  &::before {
    font-size: 6.74px;
  }
}

.swiper-button-prev {
  &::before {
    transform: rotate(90deg);
    margin-right: 5%;
  }
}

.swiper-button-next {
  &::before {
    transform: rotate(-90deg);
    margin-left: 5%;
  }
}

.swiper-pagination {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.swiper-pagination.swiper-pagination-horizontal>.swiper-pagination-bullet {
  border-radius: 50%;
  min-width: 16px;
  height: 16px;
  margin: 0;
  background-color: var(--light-color);
  transition: all .3s;
  opacity: 1;
}

.swiper-pagination.swiper-pagination-horizontal>.swiper-pagination-bullet-active {
  transition: all .3s;
  background-color: var(--primary);
  scale: 1.1;
}

.list-point {
  li {
    position: relative;
    padding-left: 15px;

    &::before {
      position: absolute;
      content: '';
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: var(--primary);
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.form {
  display: flex;
  align-items: center;
  border-radius: 16px;
  background: rgb(255, 255, 255);
  position: relative;

  @include md {
    border-radius: 30px;
  }

  @include sm {
    padding: 30px !important;
  }

  @include xs {
    padding: 20px 15px !important;
  }

  &_black {
    color: #fff;
    background-color: rgb(40, 40, 40);

    .form__title,
    .form__subtitle {
      color: #fff;
    }

    .form__check label:before {
      border: 1px solid rgba(255, 255, 255, 0.3);
    }

    .form__tz label {
      color: rgb(252, 76, 2);
      background-color: transparent;
      border: 1px solid rgba(241, 241, 241, 0.3);
      max-width: 100%;
    }

    .form__docs {
      right: -79px;

      @include xl {
        right: -48px;
      }

      @include lg {
          right: 0;
      }

      @include sm {
        display: none;
      }
    }

    .form__items_horizontal .form__input {
      max-width: 330px !important;

      @include lg {
        max-width: 100% !important;
      }
    }

    .form__items_horizontal .form__tz {
      max-width: 364px !important;

      @include lg {
        max-width: 100% !important;
      }
    }

    .form__footer {
      width: 100%;
      justify-content: center;
    }
  }


  &__title {
    font-size: 36px;
    color: rgb(40, 40, 40);
    font-weight: 500;
    line-height: 122.222222%;
    text-align: left;

    @include lg {
      @include adaptiveValue("font-size", 32, 22, 992, 320, 1);
    }

    b {
      font-weight: 500;
    }

    &_32 {
      font-size: 32px;
      font-weight: 400;
      line-height: 125%;

      @include lg {
        @include adaptiveValue("font-size", 27, 20, 992, 320, 1);
      }
    }

    @include md {
      br {
        display: none;
      }
    }
  }

  &__subtitle {
    margin-top: 15px;
    color: rgb(40, 40, 40);
    font-size: 22px;
    font-weight: 400;
    line-height: 136.363636%;
    letter-spacing: 0%;
    text-align: left;

    b {
      font-weight: 500;
    }

    @include md {
      font-size: 20px;

      br {
        display: none;
      }

      margin-top: 10px;
    }

    @include sm {
      font-size: 18px;
    }

    @include xs {
      font-size: 16px;
    }
  }


  &__inner {
    width: 100%;
    position: relative;
    z-index: 1;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include md {
      margin-top: 20px;
    }
  }

  &__content {
    width: 100%;
  }

  &__items {
    width: 100%;
    display: flex;
    gap: 10px;
    flex-direction: column;

    &_horizontal {
      flex-direction: row;

      @include lg {
        gap: 10px;

        .form__button {
          max-width: 100% !important;
        }


        flex-wrap: wrap;
      }

      .form__input,
      .form__tz {
        max-width: calc(50% - 6px) !important;
      }

      @include md {

        .form__input,
        .form__tz label,
        .form__tz {
          max-width: 100% !important;
        }
      }
    }
  }


  &__input {
    width: 100%;
    max-width: 410px;
    border: 1px solid rgb(241, 241, 241);
    border-radius: 12px;
    background: rgb(250, 251, 252);
    height: 90px;
    font-size: 18px;
    font-weight: 400;
    line-height: 144.444444%;
    letter-spacing: 0%;
    text-align: left;
    padding-left: 32px;
    padding-right: 15px;

    @include xs {
      height: 75px;
    }
  }


  &__tz {
    width: 100%;
    max-width: 330px;

    label {
      font-size: 18px;
      font-weight: 500;
      line-height: 144.444444%;
      letter-spacing: 0%;
      text-align: left;

      height: 90px;
      border: 1px solid rgb(241, 241, 241);
      border-radius: 12px;
      width: 100%;
      display: flex;
      background: rgb(255, 255, 255);
      max-width: 330px;
      padding: 0 10px;
      padding-left: 32px;
      align-items: center;
      color: rgb(252, 76, 2);
      gap: 10px;
      cursor: pointer;

      @include xs {
        height: 75px;
        padding-left: 20px;
      }

      &::before {
        font-size: 26px;
      }
    }

    input {
      display: none;
    }
  }


  &__button {
    width: 100%;
    height: 90px;
    max-width: 410px;

    @include xs {
      height: 75px;
    }
  }

  &__footer {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: flex-start;
    margin-top: 17px;
    align-self: flex-start;

    &_vertical {
      align-items: center;
      align-self: center;
      justify-content: center;
      padding-top: 40px;
      margin-top: 35px;
      border-top: 1px solid rgba($color: #000000, $alpha: 0.1);

      @include md {
        padding-top: 10px;
      }
    }

    @include xl {
      gap: 20px;
    }

    @include md {
      flex-direction: column;
      align-items: center;
      margin-inline: auto;
      gap: 8px;
      margin-top: 10px;
    }
  }

  &__callback {
    display: flex;
    align-items: center;
    font-weight: 500;
    gap: 10px;
    font-size: 22px;
    text-wrap-mode: nowrap;

    @include xl {
      font-size: 20px;
    }

    @include lg {
      font-size: 18px;
    }

    &::before {
      font-size: 22px;
    }

    a {
      color: inherit;
      font-weight: 400;

      &:hover {
        color: var(--primary);
      }
    }

    @include xl {
      font-size: 19px;
    }

    @include xs {
      text-wrap: nowrap;
    }
  }

  &__docs {
    position: absolute;
    bottom: 0;
    right: -79px;

    @include xl {
      max-width: 370px;
    }

    @include lg {
      max-width: 340px;
      opacity: 0.3;
      right: 0;
    }

    @include xs {
      display: none;
    }
  }

  .checkbox-block {
    svg path {
      stroke: var(--primary);
    }
  }

  .file-name {
    margin-top: 10px;
    display: block;
    color: #e53a36;
    text-align: center;
  }
}

.checkbox-block {
  display: flex;
  gap: 7px;
  cursor: pointer;
  font-size: 12px;
  color: var(--border);

  @include xs {
    font-size: 11px;
  }

  input {
    display: none !important;
  }

  input:checked+span svg {
    display: block;
  }

  span {
    margin-top: 3px;
    min-width: 16px;
    height: 16px;
    border-radius: 4px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--border);
  }

  svg {
    width: 9px;
    display: none;
  }
}

.dots {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-bottom: 20px;

  .dot {
    min-width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--primary)
  }
}

.play {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    .play__inner {
      scale: 1.25;
    }
  }

  &__inner {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;
    box-shadow: 0px 5px 20px rgba(228, 0, 43, 0.25);
  }
}

._input {
  background-color: var(--input);
  border-radius: 12px;
  width: 100%;
  height: 96px;
  border: 1px solid var(--border);
  padding: 35px;
  font-weight: 400;
  font-size: 18px;
  line-height: calc(25/18*100%);
  letter-spacing: 0.06em;

  @include lg {
    height: 80px;
    padding: 25px;
    font-size: 16px;
  }



  &::placeholder {
    font-weight: 400;
    color: var(--placeholder);
  }
}


.swiper-control {
  margin: 0 auto;
  max-width: 170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-radius: 20px;
  border: 1px solid #77726E;
  background: rgba(90, 90, 90, 0.7);

  .swiper-pagination,
  .swiper-button-prev,
  .swiper-button-next {
    position: static;
    margin: 0;
  }

  .swiper-pagination {
    font-weight: 400;
    width: fit-content;
    font-size: 18px;
    line-height: 130%;
    text-align: center;
    color: var(--light-color);
  }
}

.socials {
  display: flex;
  align-items: center;
  gap: 20px;

  &__img,
  &__link {
    display: block;
    height: 100%;
  }

}