.footer {

  .container {
    display: flex;
    align-items: flex-start;
    gap: 194px;
    color: var(--light-color);

    @include xl {
      gap: 30px;
      justify-content: space-between;
    }

    @include md {
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
  }

  .messengers {
    display: flex;
  }


  &__top {
    padding: 50px 0;
    background: rgb(40, 40, 40);

    @include md {
      padding: 30px 0;
    }
  }


  &__navs {
    display: flex;
    gap: 100px;

    @include lg {
      gap: 30px;
    }

    @include md {
      justify-content: space-between;
      width: 100%;
    }

    @include sm {
      flex-wrap: wrap;
    }
  }


  &__navs-wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }




  &__title {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: 700;

    @include md {
      margin-bottom: 5px;
    }
  }








  &__nav-link {
    font-size: 16px;
    line-height: calc(28/16*100%);
    color: var(--light-color);

    &:hover {
      color: var(--primary);
    }
  }


  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 30px;

    @include sm {
      gap: 15px 30px;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }




  &__mail {
    font-size: 18px;
    font-weight: 500;

    &:hover {
      color: #d94000;
    }
  }




  &__phone {
    font-weight: 500;
    color: var(--light-color);
    font-size: 18px;

    @include md {
      line-height: 1;
    }

    &:hover {
      color: #d94000;
    }
  }


  &__callback {
    margin-top: 5px;
    display: block;
    font-weight: 500;

    &:hover {
      color: #d94000;
    }
  }


  &__bottom {
    padding: 20px 0;
    background: rgb(33, 33, 33);
    color: var(--light-color);
    font-size: 14px;

    .container {
      align-items: center;
      justify-content: space-between;
      gap: 0;

      @include md {
        padding: 10px 0;
        flex-direction: column;
        gap: 10px;
        text-align: center;
      }
    }

  }


  &__logo {
    display: flex;
    align-items: center;
    gap: 20px;
    color: var(--light-color);
  }




  &__text {
    font-size: 14px;
    line-height: 157.142857%;
  }


  &__middle {
    display: flex;
    align-items: center;
    gap: 57px;

    @include xl {
      gap: 10px;
      flex-direction: column;
      align-items: flex-start;
    }

    @include md {
      align-items: center;
      gap: 5px;
    }
  }




  &__politics {
    color: var(--light-color);
    opacity: 0.6;

    &:hover {
      color: #d94000;
    }
  }


  &__right {
    display: flex;
    align-items: center;
    gap: 57px;

    @include lg {
      flex-direction: column;
      gap: 10px;
      align-items: flex-start;
    }

    @include md {
      align-items: center;
    }
  }


  &__tfa {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    
    img {
      filter: grayscale(1);
      transition: 0.3s all;
    }
    
    &:hover {
      img {
        transition: 0.3s all;
        filter: none;
      }
      
      .footer__tfa-text {
        color: #fc4c02;
        opacity: 1;
      }
    }
  }

  &__tfa-text {
    opacity: 0.2;
    color: var(--light-color);
  }
}